{{#if content.isLoading}}
	Loading project {{result.ref}}
{{elseif empty}}
	Could not load Project
{{else}}
	<h1>{{model.title}}</h1>
	<h2>{{model.authors}}</h2>
	<figure>
		<img src="{{model.posterLink}}" alt="">
		<caption></caption>
	</figure>
	<p>{{model.abstract}}</p>
{{/if}}
