{{#if content.isLoading}}
	Loading project {{from.ref}}
{{elseif empty}}
	Could not load Project
{{else}}
	{{!-- <h1>{{content.title}}</h1> --}}
	{{!-- <h2>{{content.authors}}</h2> --}}
	{{#link-to 'project.detail' content tagName="figure"}}
		<img src="{{content.posterLink}}" alt="">
		{{!-- <caption>{{content.title}}</caption> --}}
	{{/link-to}}
	{{!-- <p>{{content.abstract}}</p> --}}
{{/if}}
