{{#if topicTitle}}
	<h3>{{topicTitle}} ({{content.length}} / {{searchResults.length}})</h3>
	<pre>{{resultIDs}}</pre>
	{{#each content as |project|}}
		{{yield project}}
	{{else}}
		<div class="none">{{yield to="inverse"}}</div>
	{{/each}}
{{/if}}