{{#sticky-header}}
  <h3>
    {{topicTitle}} {{#if search.loading}}<small>(searching)</small>{{/if}}
    <span>{{results.length}} || {{offset}}</span>
  </h3>
{{/sticky-header}}

{{#each content as |project|}}
  {{yield project}}
{{else}}
  <p class="none">{{yield to="inverse"}}</p>
{{/each}}
