{{#if facetTitle}}
	<h3>{{facetTitle}} ({{results.length}})</h3>
	<pre>{{resultIDs}}</pre>
	{{#each results as |doc|}}
		{{yield doc}}
	{{else}}
		<div class="none">{{yield to="inverse"}}</div>
	{{/each}}
{{/if}}