{{#if showSlides}}
  {{#slide-show slides=model.images as |slide|}}
    <img src={{attachment-url model.id slide "thumb-large"}}>
  {{/slide-show}}
{{/if}}
<section class="info">
	<h1>{{model.title}}</h1>
	<p><strong>{{model.authors}}</strong></p>
  {{#if model.abstract}}
	  <p class="abstract">{{model.abstract}}</p>
  {{/if}}
	{{#if model.description}}
		<p class="description">{{model.description}}</p>
	{{/if}}
</section>
