{{#if showSlides}}
  {{#swiper-container
    currentSlide=(mut currentSlide)
    grabCursor=true
    pagination=false
    navigation=true
    classNames="slides"}}
    {{#each model.media as |slide index|}}
      {{#swiper-slide}}
        {{#if slide.isVideo}}
          {{video-js video=slide model=model index=index position=currentSlide}}
        {{else}}
          <img src={{attachment-url model.id slide "medium"}} alt="">
        {{/if}}
      {{/swiper-slide}}
    {{/each}}
  {{/swiper-container}}
{{/if}}

<section class="info">
  <h1>{{markdown-to-html model.title}}</h1>
  <p class="subtitle">{{model.subtitle}}</p>
  <p><strong>{{model.authors}}</strong></p>
  {{#if model.abstract}}
    <p class="abstract">{{markdown-to-html model.abstract}}</p>
  {{/if}}
  {{#if model.description}}
    <p class="description">{{markdown-to-html model.description}}</p>
  {{/if}}
</section>
