<header>
	<nav>
		<a href="#">About MUiD</a>
		<a href="#">News °</a>
		<a href="#">Apply</a>
	</nav>
	{{muid-logo}}
	{{search-bar placeholder="looking for something else" buttonText="?"}}
</header>

<section role="main">
	{{!-- Streams --}}
	{{#each facets as |facet|}}
		{{#project-stream topic=facet as |result|}}
			{{project-card from=result}}
		{{else}}
			Nothing found
		{{/project-stream}}
	{{/each}}
	{{!-- Nested Routes --}}
	{{outlet}}
</section>

<footer>
	<a href="#">imprint</a>
	<img src="/images/muthesius-logo.png" alt="Muthesius Academy of Fine Arts & Design">
</footer>
