<header>
	{{!-- make component --}}
	<nav>
		{{!-- <a href="#">BA</a> --}}
		<a href="#">About MUiD</a>
		<a href="#">News °</a>
		<a href="#">Apply</a>
	</nav>

	{{muid-logo}}

	{{!-- make component --}}
	<div class="muid search-field">
		{{input type="search" placeholder="looking for something else" input=(action updateSearch)}}
		<button>?</button>
	</div>
</header>

<section role="main">
	{{#each facets as |f|}}
		{{#search-result base=this facet=f as |result|}}
			{{project-card show=result}}
		{{else}}
			Nothing found
		{{/search-result}}
	{{/each}}
	{{outlet}}
</section>

<footer>
	<a href="#">imprint</a>
	<img src="/images/muthesius-logo.png" alt="Muthesius Academy of Fine Arts & Design">
</footer>
