<header>
	<nav>
		{{link-to "About MUiD" "about"}}
		{{link-to "News °" "news"}}
		{{link-to "Apply" "apply"}}
	</nav>
	{{muid-logo}}
	{{search-bar placeholder="looking for something else" buttonText="?"}}
</header>

<section role="main" class="{{if isHome "home" "detail"}}">
	{{!-- Nested Routes --}}
	<article>{{outlet}}</article>
	{{!-- Streams --}}
	<section class="overview">
		{{#each model.topics as |topic|}}
			{{#project-stream topic=topic as |result|}}
				{{project-card from=result}}
			{{else}}
				Nothing found
			{{/project-stream}}
		{{/each}}
	</section>
</section>

<footer>
	{{!-- Social Media here --}}
	{{!-- contact & imprint should be a pup up --}}
	{{link-to "Contact Us" "contact"}}
	{{link-to "Impressum" "imprint"}}
	<img src="/images/muthesius-logo.png" alt="Muthesius Academy of Fine Arts & Design">
</footer>
